

<mat-grid-list cols="2" rowHeight="2:1" gutterSize="30px">

  <mat-grid-tile>
  <ngx-charts-pie-chart
  [view]="view"
  scheme="vivid"
  [results]="categoryResult"
  [gradient]=true
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  >
  </ngx-charts-pie-chart>
  </mat-grid-tile>


  <mat-grid-tile>
  <ngx-charts-bar-vertical
  [view]="view"
  scheme="night"
  [results]="productResult"
  [gradient]="gradient"
  xAxis=true
  yAxis=true
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [showXAxisLabel]=true
  [showYAxisLabel]=true
  xAxisLabel="Cartas"
  yAxisLabel="Cantidad de Pedidos"
  (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
  </mat-grid-tile>


  <mat-grid-tile>
  <ngx-charts-line-chart
  [view]="view"
  scheme="cool"
  [legend]="showLegend"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxis]="true"
  [yAxis]="true"
  xAxisLabel="Fecha"
  yAxisLabel="Monto de Ventas"
  [legendPosition]="legendPosition"
  [timeline]="false"
  [results]="salesResult"
  (select)="onSelect($event)"
  >
  </ngx-charts-line-chart>
  </mat-grid-tile>


  <mat-grid-tile>
  <ngx-charts-heat-map
  [view]="view"
  scheme="cool"
  [legend]="showLegend"
  [showXAxisLabel]=true
  [showYAxisLabel]=true
  [xAxis]=true
  [yAxis]=true
  xAxisLabel="Clientes"
  yAxisLabel="Fecha de Compra"
  [results]="salesClientResult"
  (select)="onSelect($event)"
  >
  </ngx-charts-heat-map>
  </mat-grid-tile>


  <mat-grid-tile>
  <ngx-charts-area-chart-normalized
  [view]="view"
  scheme="nightLights"
  [legend]="showLegend"
  [showXAxisLabel]=true
  [showYAxisLabel]=true
  [xAxis]=true
  [yAxis]=true
  xAxisLabel="Fecha de Pedido"
  yAxisLabel="Porcentaje de Platos"
  [timeline]=true
  [results]="orderDetailResult"
  (select)="onSelect($event)">
  </ngx-charts-area-chart-normalized>
  </mat-grid-tile>


</mat-grid-list>
