<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="text-center">Agregar Nueva Carta</mat-card-title>
  </mat-card-header>

  <input #cartImage (change)="captar()" class="form-control" type="file" name="cartImage" style="margin: 30px;">

  <div *ngIf="previsualizacion">
    <img class="img-thumbnail" [src]="previsualizacion">
  </div>

  <br>

   
      <form class="example-form">
        <mat-grid-list cols="2" rowHeight="80px">
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Plato</mat-label>
              <input type="text" matInput [(ngModel)]="name" name="name">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Descripcion</mat-label>
              <input type="text" matInput [(ngModel)]="description" name="description">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Precio</mat-label>
              <input type="text" matInput [(ngModel)]="price" name="price">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>Categoria</mat-label>
              <mat-select matInput placeholder="Seleccionar Categoria" [(ngModel)]="category" name="category">
                <mat-option *ngFor="let categoria of categoriaList"
                  [value]="categoria.description">{{categoria.description}}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    

  <mat-card-actions>
    <button mat-button (click)="save()">Guardar</button>
  </mat-card-actions>

</mat-card>