<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="text-center">Editar la carta</mat-card-title>
    </mat-card-header>
    <input #categoryImage (change)="captar()" class="form-control" type="file" name="categoryImage">
    <div *ngIf="previsualizacion">
        <img class="img-thumbnail" [src]="previsualizacion">
    </div>
    <br>
    <mat-card-content>
        <form class="example-form" [formGroup]="formularioEdit">
            <input type="hidden" name="slug" formControlName="slug">
            <!-- <mat-form-field class="example-full-width">
                <input type="text" formControlName="name" matInput  name="name">
            </mat-form-field> -->
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <input type="text" matInput formControlName="description"  name="description">
            </mat-form-field>
            <br>
            <br>
        </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="modificar()">Guardar</button> 
    </mat-card-actions>
  </mat-card>
